.app {
    background-color: #f3f2ef;
}

.iconn > img {
    object-fit: contain;
    height: 40px;
}

.search-input > input {
    background: none;
    outline: none;
    border: none;
}
.header-Menu  {
    color: gray;
    cursor: pointer;
}
.header-Menu:hover {
    color: black;
}